*{
    margin:0;
    font-family: Arial,sans-serif;
    padding: 0;
    color: #343a40;
}

nav{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

nav .logo {
   text-decoration: none;
   font-size: 1.6em;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style-type:none;
    font-size: 1.2em;
}

nav ul .home{
    list-style-type: none;
    text-decoration-color: #007bff;
    text-decoration-thickness: 3px; /*GROSOR LINEA*/
    text-underline-offset: 20px; /*Distancia de alejado de la linea*/
}

nav ul .about{
    list-style-type: none;
    text-decoration-color: #32cd32;
    text-decoration-thickness: 3px; /*GROSOR LINEA*/
    text-underline-offset: 20px; /*Distancia de alejado de la linea*/
}

nav ul .services{
    list-style-type: none;
    text-decoration-color: #8a2be2;
    text-decoration-thickness: 3px; /*GROSOR LINEA*/
    text-underline-offset: 20px; /*Distancia de alejado de la linea*/
}

nav ul .contact{
    list-style-type: none;
    text-decoration-color: #ffd747;
    text-decoration-thickness: 3px; /*GROSOR LINEA*/
    text-underline-offset: 20px; /*Distancia de alejado de la linea*/
}

nav ul a:hover{
    font-weight: bold;
    text-decoration-color: blue;
}

.cta-container{
    background-color: #e9ecef;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    justify-content: center;
}

.cta-container h1{
    font-size: 2.2em;
}

.cta-container p{
    width: 550px;
    font-weight: bold;
    font-size: 1.2em;
    margin: auto;
}

.services-container {
    background-color: #f1f3f5;
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.services-container div{
    width: 30%;
}

.services-container .icono {
    font-size: 2em;
    justify-content: center;
    margin: auto;
    padding-bottom: 8px;
}

.services-container h3{
    padding-bottom: 8px;
}

.contact-container{
    background-color: #f8f9fa;
    padding-top: 34px;
    text-align: center;
}

.contact-container h2{
    font-size: 20px;
    padding-bottom: 20px;
}

.contact-container label{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-left: 422px;
    
}

.contact-container button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 500px;
    background-color: #007bff;
    color: #f8f9fa;
    height: 30px;
    margin-top: 10px;
}

.contact-container .dist1{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #32cd32;
    border-width: 4px;
    width: 500px;
    height: 30px;
    background-color: #f1f3f5;
    margin-bottom: 10px;
}

.contact-container .dist2{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #8a2be2;
    border-width: 4px;
    width: 500px;
    height: 30px;
    background-color: #f1f3f5;
    margin-bottom: 10px;
}

.contact-container .dist3{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #ffd747;
    border-width: 4px;
    width: 500px;
    height: 30px;
    background-color: #f1f3f5;
    margin-bottom: 10px;
}

.contact-container .contact-form input:hover{
   border-bottom-color:  blue;
}

.contact-container .contact-form textarea:hover{
   border-bottom-color:  blue;
}